!dep_root/include
!dep_root/include/.keep
!dep_root/lib
!dep_root/lib/.keep
*.DS_Store
*.[oa]
*.a
*.diff
*.in
*.la
*.lo
*.o
*.patch
*.pc
*.po
*.so
*.swp
*.xcworkspace
*/.deps
*/.deps/*
*/.libs
*/all.h*
*/futurerestore*
*/tsschecker*
*Makefile
*Makefile.in
*~
.DS_Store
.build_complete
.deps
.idea
.libs
.vscode
Build
CMakeCache.txt
CMakeFiles
Index
Makefile
Makefile.in
aclocal.m4
autom4te.cache
autom4te.cache/
autom4te.cache/*
build
cmake-build-debug
cmake-build-debug*
cmake-build-release
cmake-build-release*
cmake_install.cmake
compile
config.*
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
configure~
dep_root/*
dep_root/include/*
dep_root/lib/*
depcomp
install-sh
liboffsetfinder64.pc
libtool
ltmain.sh
m4
m4/
m4/*
main
missing
mkinstalldirs
py-compile
src/.libs
src/iBoot64Patcher
src/idevicerestore
stamp-h1
stamp-h2
swig/*
test-driver
xcuserdata
*.zst
